__pycache__/
.claude/
.github/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.venv/
.venv-build/
.vscode/

**/*.idea
**/*.vscode/**
**/*.ipynb_checkpoints/**
**/*__pycache__/**

*.pyc
*.pyo
*.coverage
*.coverage.*

*.blend
*.blend1
/assets/
